<form class="form-inline" role="form">
  <div class="form-group">
    <label class="sr-only" for="partyName">Party Name</label>
    <input type="text" class="form-control" id="partyName" placeholder="Enter party name">
  </div>
  <div class="form-group">
    <label class="sr-only" for="phoneNumber">Mobile Phone Number</label>
    <input type="text" class="form-control" id="phoneNumber" placeholder="Enter phone number">
  </div>
  <div class="form-group">
    <label class="sr-only" for="sizeOfParty">Size of Party</label>
    <input type="text" class="form-control" id="sizeOfParty" placeholder="Size of party">
  </div>
  <button type="submit" class="btn btn-primary btn-md">Add party</button>
</form>
